@charset "UTF-8";
html {
    font-family: Arial, sans-serif;
    line-height: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
}

body a {
    text-decoration: none;
}


/* BANNER */

.banner {
    display: block;
    text-align: center;
}

.banner h1 {
    font-size: 40pt;
    margin: 0;
    height: 1.5em;
}

.banner ul a {
    color: #46464F;
    font-size: 17pt;
}

.banner a:hover {
    color: grey;
}

.blue,
.algorithm-name,
.algorithm-heading {
    color: #01B4B8;
}

.red,
.ds-name,
.ds-heading {
    color: #F2644C;
}

.learn {
    color: #FCD8D2;
    font-style: italic;
    font-family: serif;
}

.underline.on {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin-top: 0;
}

.banner li {
    display: inline;
    padding-right: 2em;
}


/* MASTER PAGES */

.master-list {
    display: block;
    width: 45em;
    margin: auto;
}

.lists,
.sorting {
    width: 45em;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.master-list ul {
    float: left;
}

.trees,
.graphs {
    width: 45em;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.other,
.pattern {
    width: 45em;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* master icons */

.master-icon {
    width: 28em;
    float: right;
}

.lists h2,
.trees h2,
.other h2,
.sorting h2,
.graphs h2,
.pattern h2 {
    color: grey;
}

.lists a,
.trees a,
.other a {
    font-size: 15pt;
    color: #F2644C;
}

.lists a:hover,
.trees a:hover,
.other a:hover {
    color: #FFAB99;
}

.sorting a,
.graphs a,
.pattern a {
    font-size: 15pt;
    color: #01B4B8;
}

.sorting a:hover,
.graphs a:hover,
.pattern a:hover {
    color: #C0ECED;
}

.footer {
    margin-bottom: 6em;
}


/* individual pages */

.algorithm-name,
.ds-name {
    font-size: 35px;
    margin-top: 0;
}

.algorithm-body,
.ds-body {
    width: 50%;
    min-width: 45em;
    margin-left: auto;
    margin-right: auto;
}


/* MEDIA QUERIES */


/* mobile */

@media (max-width: 699px) {
    /* home */
    .home {
        display: block;
        font-size: 18pt;
    }
    .home-links {
        display: block;
        margin: 0 auto;
        width: 12.8em;
    }
    .l-home {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: .8em;
        font-size: 30pt;
    }
    .ds {
        width: 8.5em;
        background-color: white;
        margin-top: 1em;
        border-color: #F2644C;
        border-style: solid;
        border-width: .2em;
        color: white;
        text-align: center;
    }
    .ds .hidden {
        color: #F2644C;
    }
    .a {
        width: 8.5em;
        margin-top: 2em;
        background-color: white;
        border-color: #01B4B8;
        border-style: solid;
        border-width: .2em;
        color: white;
        text-align: center;
    }
    .a .hidden {
        color: #01B4B8;
    }
    .a p,
    .ds p {
        margin-top: 3em;
    }
    .banner h1 {
        font-size: 25pt;
        margin: 0;
        height: 1.5em;
    }
    .banner ul a {
        color: #46464F;
        font-size: 12pt;
    }
    /* master pages */
    .master-list {
        display: block;
        width: 95%;
        margin: auto;
        font-size: 12pt;
    }
    .master-list a {
        font-size: 14pt;
    }
    .lists,
    .sorting {
        width: 95%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .trees,
    .graphs {
        width: 95%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .other,
    .pattern {
        width: 95%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* master icons */
    .master-icon {
        width: 100%;
    }
    /* individual pages */
    .algorithm-name,
    .ds-name {
        font-size: 25px;
        margin-top: 0;
    }
    .algorithm-body,
    .ds-body {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    /* ABOUT */
    .preview {
        width: 85%;
        max-width: 25em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .preview-grid {
        margin-bottom: 3em;
    }
    .preview-block h1 {
        font-size: 15pt;
        color: #f3bdbe;
        margin-left: 8%;
    }
    .preview-block p {
        line-height: 1.8em;
        margin-left: 8%;
        margin-right: 8%;
    }
}


/* desktop */

@media (min-width: 700px) {
    /* home */
    .home-links {
        display: block;
        margin: 0 auto;
        max-width: 65em;
    }
    .home {
        display: block;
        font-size: 20pt;
    }
    .home a:visited {
        color: white;
    }
    .l-home {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 1.5em;
        font-size: 50pt;
    }
    .ds {
        width: 9.2em;
        float: left;
        margin-left: 20%;
        margin-top: 2em;
        background-color: #F2644C;
        border-color: #F2644C;
        border-style: solid;
        border-width: .2em;
        color: white;
        text-align: center;
    }
    .ds:hover {
        background-color: white;
    }
    .ds .hidden {
        color: #F2644C;
    }
    .a {
        width: 9.2em;
        float: right;
        margin-right: 20%;
        margin-top: 2em;
        background-color: #01B4B8;
        border-color: #01B4B8;
        border-style: solid;
        border-width: .2em;
        color: white;
        text-align: center;
    }
    .a p,
    .ds p {
        margin-top: 3.5em;
    }
    .a span {
        color: #01B4B8;
    }
    .a:hover {
        background-color: white;
    }
    /* ABOUT */
    .preview-grid {
        width: 80%;
        display: block;
        margin-left: 9.5%;
        margin-right: auto;
        margin-top: 5em;
        height: 70vh;
        overflow-x: auto;
    }
    a:active {
        text-decoration: underline;
    }
    .preview-block {
        display: inline;
        max-width: 30%;
        float: left;
        margin: .10em;
        text-align: center;
        margin-left: 1em;
    }
    .preview-block h1 {
        font-size: 15pt;
        color: #F2644C;
    }
    .preview-block p {
        line-height: 1.8em;
    }
    .preview {
        width: 100%;
    }
}